<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="m2e-egit-e36">
<locations>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.6.2.M20110210-1200"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.6.0.v20100914-1218"/>
<unit id="org.eclipse.wst.common.emf" version="1.2.3.v201012100400"/>
<unit id="org.eclipse.wst.sse.core" version="1.1.504.v201102160550"/>
<unit id="org.eclipse.wst.xml.core" version="1.1.503.v201102102045"/>
<unit id="org.eclipse.wst.sse.ui" version="1.2.3.v201102102045"/>
<unit id="org.eclipse.wst.xsd.core" version="1.1.503.v201011121919"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.2.3.v201102160541-7O7CFbWEMf84qYjGDyP3DNEwcgFU"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.6.2.R36x_v20110120-9I7VGEAG438GhnfSLuLz0FXP9NYJ"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/releases/helios"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.0.0.201106021057"/>
<unit id="org.eclipse.m2e.tests.common" version="1.0.0.201106021057"/>
<repository location="https://repository.sonatype.org/content/repositories/forge-sites/m2e/1.0.0/N/1.0.0.201106021057/"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="1.0.0.201106031012"/>
<unit id="org.eclipse.egit.source.feature.group" version="1.0.0.201106031012"/>
<unit id="org.eclipse.jgit.source.feature.group" version="1.0.0.201106021718"/>
<repository location="http://download.eclipse.org/egit/updates-nightly"/>
</location>

</locations>
</target>
