<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target includeMode="feature" name="m2e-egit-e37">
<locations>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.0.I20110526-1708"/>
<unit id="org.eclipse.emf.common.feature.group" version="2.7.0.v20110527-1609"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.7.0.v20110530-1010"/>
<unit id="org.eclipse.emf.edit.ui.feature.group" version="2.7.0.v20110530-1010"/>
<unit id="org.eclipse.wst.common.emf" version="1.2.100.v201101101900"/>
<unit id="org.eclipse.wst.sse.core" version="1.1.600.v201105162116"/>
<unit id="org.eclipse.wst.xml.core" version="1.1.600.v201104251227"/>
<unit id="org.eclipse.wst.sse.ui" version="1.3.0.v201105101529"/>
<unit id="org.eclipse.wst.xsd.core" version="1.1.600.v201104070312"/>
<unit id="org.eclipse.wst.web_ui.feature.feature.group" version="3.3.0.v201102200555-7O7IFhJEMiB5vNMYta56_GonLeahqrwnYjv2mBz-"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.7.0.v20110519-9N7sHDJGMMn4xUrt4cFAa6939XLL"/>
<unit id="org.slf4j.api" version="1.6.1.v20100831-0715"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.0.100.201106171112"/>
<unit id="org.eclipse.m2e.tests.common" version="1.0.100.201106171112"/>
<repository location="http://download.eclipse.org/technology/m2e/releases/1.0/"/>
</location>

<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="1.0.0.201106011211-rc3"/>
<!--
<unit id="org.eclipse.egit.source.feature.group" version="0.12.1"/>
<unit id="org.eclipse.jgit.source.feature.group" version="0.12.1"/>
-->
<repository location="http://download.eclipse.org/egit/updates"/>
</location>

</locations>
</target>
