<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2010-2011 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2e.scm.scmHandlers">
      <handler
            class="org.sonatype.m2e.egit.internal.EgitScmHandler"
            priority="10"
            type="git">
      </handler>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode"
            class="org.sonatype.m2e.egit.internal.EgitWorkingDirectoryAdapterFactory">
         <adapter type="org.sonatype.m2e.egit.internal.WorkingDirectory"/>
      </factory>
      <factory adaptableType="org.eclipse.egit.ui.internal.repository.tree.WorkingDirNode"
            class="org.sonatype.m2e.egit.internal.EgitWorkingDirectoryAdapterFactory">
         <adapter type="org.sonatype.m2e.egit.internal.WorkingDirectory"/>
      </factory>
      <factory adaptableType="org.eclipse.egit.ui.internal.repository.tree.FolderNode"
            class="org.sonatype.m2e.egit.internal.EgitWorkingDirectoryAdapterFactory">
         <adapter type="org.sonatype.m2e.egit.internal.WorkingDirectory"/>
      </factory>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="org.sonatype.m2e.egit.internal.workingDir"
          objectClass="org.sonatype.m2e.egit.internal.WorkingDirectory"
          adaptable="true">
        <action id="org.sonatype.m2e.egit.internal.importProjects"
                label="%importaction.label"
                class="org.sonatype.m2e.egit.internal.ImportMavenProjects"
                icon="icons/import_m2_project.gif"/>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.egit.ui.RepositoriesView?after=org.eclipse.egit.ui.RepositoriesViewClone">
         <command
               commandId="org.sonatype.m2e.egit.CloneAsMavenProjects"
               style="push"
               tooltip="%clonecommand.tooltip" >
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.egit.ui.RepositoriesView?after=org.eclipse.egit.ui.RepositoriesViewClone">
         <command
               commandId="org.sonatype.m2e.egit.CloneAsMavenProjects"
               style="push"
               label="%clonecommand.label" >
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.egit.ui.commandCategory"
            defaultHandler="org.sonatype.m2e.egit.internal.CloneAsMavenProjects"
            id="org.sonatype.m2e.egit.CloneAsMavenProjects"
            name="%clonecommand.label">
      </command>
   </extension>
   <extension point="org.eclipse.ui.commandImages">
      <image
            commandId="org.sonatype.m2e.egit.CloneAsMavenProjects"
            icon="icons/import_m2_project.gif">
      </image>
   </extension>


</plugin>
